<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeb1ooded.megha">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.codeb1ooded.megha.Activities.AboutMeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Project.ProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codeb1ooded.megha.Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.Activities.Miscellaneous.EducationActivity"
            android:screenOrientation="portrait"
            android:label="Education" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codeb1ooded.megha.Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.Activities.Miscellaneous.SocialWorkActivity"
            android:screenOrientation="portrait"
            android:label="Social Work" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codeb1ooded.megha.Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.Activities.Miscellaneous.PositionsOfResponsibilityActivity"
            android:screenOrientation="portrait"
            android:label="Positions of Responsibility" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codeb1ooded.megha.Activities.AboutMeActivity"  />
        </activity>
    </application>

</manifest>