<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeb1ooded.megha.megha">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.codeb1ooded.megha.megha.Activities.AboutMeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Project.RTIManagementSystem"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:label="RTI" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Project.Eventley"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:label="Eventley" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Project.MoviePlate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:label="MoviePlate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Project.OthelloBoardGame"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:label="Othello" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Project.ScientficCalculator"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme"
            android:label="Calculator" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Miscellaneous.EducationActivity"
            android:screenOrientation="portrait"
            android:label="Education" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Miscellaneous.SocialWorkActivity"
            android:screenOrientation="portrait"
            android:label="Social Work" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
        <activity
            android:name="com.codeb1ooded.megha.megha.Activities.Miscellaneous.PositionsofResponsibilityActivity"
            android:screenOrientation="portrait"
            android:label="Positions of Responsibility" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutMeActivity"  />
        </activity>
    </application>

</manifest>